html,body {
	height: 100%;
}
.v-middle {
	display: table-cell;
	vertical-align: middle;
}
.v-wrap {
	height: 100%;
	width: 100%;
	display: table;
}
.hide {
	display:none;
}
.full-width{
	width: 100%;
}
